/* 
    Document   : admin.css
    Created on : 15.10.2010, 13:46:29
    Author     : rigid
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

h1 {
    color: #5a6d99;
}

#menu {
    width: 100%;
}

#container {
    padding: 10px;
    padding-top: 100px;
}

#content {
  
}

table {
    border: 1px solid #9AAEDB;
    border-collapse: collapse;
}

table th {
    border: 1px solid #9AAEDB;
    background: #9AAEDB;
    padding: 10px;
}

table td {
    color: #5a6d99;
    padding: 10px;
    border: 1px solid #9AAEDB;
}

table td a {
    color: #5a6d99;
}